# Dirs
.github/
.vscode/
test/
coverage/
.nyc_output/
src/

# Files
tsconfig.json
.eslintignore
.eslintrc
.gitignore
.gitattributes
.env
.prettierrc
dist/tsconfig.tsbuildinfo

# Example files
dist/example.*